poc/ef41/Client/Service References/ServiceReference1/CursusService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="CursusService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:49794/CursusService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:49794/CursusService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:49794/CursusService.svc?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ICursusService_CursusMaken_InputMessage">
    <wsdl:part name="parameters" element="tns:CursusMaken" />
  </wsdl:message>
  <wsdl:message name="ICursusService_CursusMaken_OutputMessage">
    <wsdl:part name="parameters" element="tns:CursusMakenResponse" />
  </wsdl:message>
  <wsdl:message name="ICursusService_DeelnemerInschrijven_InputMessage">
    <wsdl:part name="parameters" element="tns:DeelnemerInschrijven" />
  </wsdl:message>
  <wsdl:message name="ICursusService_DeelnemerInschrijven_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeelnemerInschrijvenResponse" />
  </wsdl:message>
  <wsdl:message name="ICursusService_DeelnemersOphalen_InputMessage">
    <wsdl:part name="parameters" element="tns:DeelnemersOphalen" />
  </wsdl:message>
  <wsdl:message name="ICursusService_DeelnemersOphalen_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeelnemersOphalenResponse" />
  </wsdl:message>
  <wsdl:message name="ICursusService_Hallo_InputMessage">
    <wsdl:part name="parameters" element="tns:Hallo" />
  </wsdl:message>
  <wsdl:message name="ICursusService_Hallo_OutputMessage">
    <wsdl:part name="parameters" element="tns:HalloResponse" />
  </wsdl:message>
  <wsdl:portType name="ICursusService">
    <wsdl:operation name="CursusMaken">
      <wsdl:input wsaw:Action="http://tempuri.org/ICursusService/CursusMaken" message="tns:ICursusService_CursusMaken_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICursusService/CursusMakenResponse" message="tns:ICursusService_CursusMaken_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeelnemerInschrijven">
      <wsdl:input wsaw:Action="http://tempuri.org/ICursusService/DeelnemerInschrijven" message="tns:ICursusService_DeelnemerInschrijven_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICursusService/DeelnemerInschrijvenResponse" message="tns:ICursusService_DeelnemerInschrijven_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeelnemersOphalen">
      <wsdl:input wsaw:Action="http://tempuri.org/ICursusService/DeelnemersOphalen" message="tns:ICursusService_DeelnemersOphalen_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICursusService/DeelnemersOphalenResponse" message="tns:ICursusService_DeelnemersOphalen_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Hallo">
      <wsdl:input wsaw:Action="http://tempuri.org/ICursusService/Hallo" message="tns:ICursusService_Hallo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICursusService/HalloResponse" message="tns:ICursusService_Hallo_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ICursusService" type="tns:ICursusService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CursusMaken">
      <soap:operation soapAction="http://tempuri.org/ICursusService/CursusMaken" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeelnemerInschrijven">
      <soap:operation soapAction="http://tempuri.org/ICursusService/DeelnemerInschrijven" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeelnemersOphalen">
      <soap:operation soapAction="http://tempuri.org/ICursusService/DeelnemersOphalen" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Hallo">
      <soap:operation soapAction="http://tempuri.org/ICursusService/Hallo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CursusService">
    <wsdl:port name="BasicHttpBinding_ICursusService" binding="tns:BasicHttpBinding_ICursusService">
      <soap:address location="http://localhost:49794/CursusService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>