poc/ef41/Client/Service References/ServiceReference1/CursusService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:49794/CursusService.svc?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:element name="CursusMaken">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="naam" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="startDatum" type="xs:dateTime" />
        <xs:element minOccurs="0" name="stopDatum" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CursusMakenResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CursusMakenResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeelnemerInschrijven">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="cursusID" type="xs:int" />
        <xs:element minOccurs="0" name="deelnemerNaam" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeelnemerInschrijvenResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeelnemerInschrijvenResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeelnemersOphalen">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="cursusID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeelnemersOphalenResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="DeelnemersOphalenResult" nillable="true" type="q1:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Hallo">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="HalloResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="HalloResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeelnemerVerwijderen">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="cursusID" type="xs:int" />
        <xs:element minOccurs="0" name="naam" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeelnemerVerwijderenResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>