Solution/Chiro.Gap.Sync/Service References/SyncService/KipSyncService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8000/KipSyncService?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Chiro.Kip.Services.DataContracts" />
  <xs:element name="PersoonUpdaten">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Chiro.Kip.Services.DataContracts" minOccurs="0" name="persoon" nillable="true" type="q1:Persoon" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="StandaardAdresBewaren">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Chiro.Kip.Services.DataContracts" minOccurs="0" name="adres" nillable="true" type="q2:Adres" />
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Chiro.Kip.Services.DataContracts" minOccurs="0" name="bewoners" nillable="true" type="q3:ArrayOfBewoner" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CommunicatieBewaren">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="adNr" type="xs:int" />
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Chiro.Kip.Services.DataContracts" minOccurs="0" name="communicatieMiddelen" nillable="true" type="q4:ArrayOfCommunicatieMiddel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CommunicatieVerwijderen">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="adNr" type="xs:int" />
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Chiro.Kip.Services.DataContracts" minOccurs="0" name="communicatie" nillable="true" type="q5:CommunicatieMiddel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LidBewaren">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="adNummer" type="xs:int" />
        <xs:element minOccurs="0" name="stamNummer" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="werkJaar" type="xs:int" />
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Chiro.Kip.Services.DataContracts" minOccurs="0" name="lidType" type="q6:LidTypeEnum" />
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/Chiro.Kip.Services.DataContracts" minOccurs="0" name="nationaalBepaaldeFuncties" nillable="true" type="q7:ArrayOfFunctieEnum" />
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/Chiro.Kip.Services.DataContracts" minOccurs="0" name="officieleAfdelingen" nillable="true" type="q8:ArrayOfAfdelingEnum" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>