Solution/Chiro.Gap.Sync/Service References/SyncService/SyncPersoonService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:tns="http://tempuri.org/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" name="SyncPersoonService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="NetMsmqBinding_ISyncPersoonService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1" />
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8000/KipSyncService?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8000/KipSyncService?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:8000/KipSyncService?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Chiro.Kip.Services.DataContracts" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ISyncPersoonService_PersoonUpdaten_InputMessage">
    <wsdl:part name="parameters" element="tns:PersoonUpdaten" />
  </wsdl:message>
  <wsdl:message name="ISyncPersoonService_StandaardAdresBewaren_InputMessage">
    <wsdl:part name="parameters" element="tns:StandaardAdresBewaren" />
  </wsdl:message>
  <wsdl:message name="ISyncPersoonService_CommunicatieToevoegen_InputMessage">
    <wsdl:part name="parameters" element="tns:CommunicatieToevoegen" />
  </wsdl:message>
  <wsdl:message name="ISyncPersoonService_AlleCommunicatieBewaren_InputMessage">
    <wsdl:part name="parameters" element="tns:AlleCommunicatieBewaren" />
  </wsdl:message>
  <wsdl:message name="ISyncPersoonService_CommunicatieVerwijderen_InputMessage">
    <wsdl:part name="parameters" element="tns:CommunicatieVerwijderen" />
  </wsdl:message>
  <wsdl:message name="ISyncPersoonService_LidBewaren_InputMessage">
    <wsdl:part name="parameters" element="tns:LidBewaren" />
  </wsdl:message>
  <wsdl:message name="ISyncPersoonService_NieuwLidBewaren_InputMessage">
    <wsdl:part name="parameters" element="tns:NieuwLidBewaren" />
  </wsdl:message>
  <wsdl:message name="ISyncPersoonService_FunctiesUpdaten_InputMessage">
    <wsdl:part name="parameters" element="tns:FunctiesUpdaten" />
  </wsdl:message>
  <wsdl:message name="ISyncPersoonService_AfdelingenUpdaten_InputMessage">
    <wsdl:part name="parameters" element="tns:AfdelingenUpdaten" />
  </wsdl:message>
  <wsdl:portType name="ISyncPersoonService">
    <wsdl:operation name="PersoonUpdaten">
      <wsdl:input wsaw:Action="http://tempuri.org/ISyncPersoonService/PersoonUpdaten" message="tns:ISyncPersoonService_PersoonUpdaten_InputMessage" />
    </wsdl:operation>
    <wsdl:operation name="StandaardAdresBewaren">
      <wsdl:input wsaw:Action="http://tempuri.org/ISyncPersoonService/StandaardAdresBewaren" message="tns:ISyncPersoonService_StandaardAdresBewaren_InputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CommunicatieToevoegen">
      <wsdl:input wsaw:Action="http://tempuri.org/ISyncPersoonService/CommunicatieToevoegen" message="tns:ISyncPersoonService_CommunicatieToevoegen_InputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AlleCommunicatieBewaren">
      <wsdl:input wsaw:Action="http://tempuri.org/ISyncPersoonService/AlleCommunicatieBewaren" message="tns:ISyncPersoonService_AlleCommunicatieBewaren_InputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CommunicatieVerwijderen">
      <wsdl:input wsaw:Action="http://tempuri.org/ISyncPersoonService/CommunicatieVerwijderen" message="tns:ISyncPersoonService_CommunicatieVerwijderen_InputMessage" />
    </wsdl:operation>
    <wsdl:operation name="LidBewaren">
      <wsdl:input wsaw:Action="http://tempuri.org/ISyncPersoonService/LidBewaren" message="tns:ISyncPersoonService_LidBewaren_InputMessage" />
    </wsdl:operation>
    <wsdl:operation name="NieuwLidBewaren">
      <wsdl:input wsaw:Action="http://tempuri.org/ISyncPersoonService/NieuwLidBewaren" message="tns:ISyncPersoonService_NieuwLidBewaren_InputMessage" />
    </wsdl:operation>
    <wsdl:operation name="FunctiesUpdaten">
      <wsdl:input wsaw:Action="http://tempuri.org/ISyncPersoonService/FunctiesUpdaten" message="tns:ISyncPersoonService_FunctiesUpdaten_InputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AfdelingenUpdaten">
      <wsdl:input wsaw:Action="http://tempuri.org/ISyncPersoonService/AfdelingenUpdaten" message="tns:ISyncPersoonService_AfdelingenUpdaten_InputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="NetMsmqBinding_ISyncPersoonService" type="tns:ISyncPersoonService">
    <wsp:PolicyReference URI="#NetMsmqBinding_ISyncPersoonService_policy" />
    <soap12:binding transport="http://schemas.microsoft.com/soap/msmq" />
    <wsdl:operation name="PersoonUpdaten">
      <soap12:operation soapAction="http://tempuri.org/ISyncPersoonService/PersoonUpdaten" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="StandaardAdresBewaren">
      <soap12:operation soapAction="http://tempuri.org/ISyncPersoonService/StandaardAdresBewaren" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="CommunicatieToevoegen">
      <soap12:operation soapAction="http://tempuri.org/ISyncPersoonService/CommunicatieToevoegen" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="AlleCommunicatieBewaren">
      <soap12:operation soapAction="http://tempuri.org/ISyncPersoonService/AlleCommunicatieBewaren" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="CommunicatieVerwijderen">
      <soap12:operation soapAction="http://tempuri.org/ISyncPersoonService/CommunicatieVerwijderen" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="LidBewaren">
      <soap12:operation soapAction="http://tempuri.org/ISyncPersoonService/LidBewaren" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="NieuwLidBewaren">
      <soap12:operation soapAction="http://tempuri.org/ISyncPersoonService/NieuwLidBewaren" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="FunctiesUpdaten">
      <soap12:operation soapAction="http://tempuri.org/ISyncPersoonService/FunctiesUpdaten" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="AfdelingenUpdaten">
      <soap12:operation soapAction="http://tempuri.org/ISyncPersoonService/AfdelingenUpdaten" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SyncPersoonService">
    <wsdl:port name="NetMsmqBinding_ISyncPersoonService" binding="tns:NetMsmqBinding_ISyncPersoonService">
      <soap12:address location="net.msmq://localhost/private/KipSyncPersoonServiceQueue" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.msmq://localhost/private/KipSyncPersoonServiceQueue</wsa10:Address>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>