poc/LinqToSql/ConsoleApplication1/Service References/GroepenServiceReference/GroepenService43.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:4227/GroepenService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/CgDal" />
  <xs:element name="ChiroGroepGet">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="groepID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChiroGroepGetResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/CgDal" minOccurs="0" name="ChiroGroepGetResult" nillable="true" type="q1:ChiroGroep" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChiroGroepGroepGet">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="groepID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChiroGroepGroepGetResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/CgDal" minOccurs="0" name="ChiroGroepGroepGetResult" nillable="true" type="q2:Groep" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>