poc/ef2/MvcWebApp2/Service References/LedenServiceReference/LedenService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:2733/LedenService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Cg2.Orm" />
  <xs:element name="LidMakenEnBewaren">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="gelieerdePersoonID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LidMakenEnBewarenResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Cg2.Orm" minOccurs="0" name="LidMakenEnBewarenResult" nillable="true" type="q1:Lid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PaginaOphalen">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="groepsWerkJaarID" type="xs:int" />
        <xs:element minOccurs="0" name="pagina" type="xs:int" />
        <xs:element minOccurs="0" name="paginaGrootte" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PaginaOphalenResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Cg2.Orm" minOccurs="0" name="PaginaOphalenResult" nillable="true" type="q2:ArrayOfLid" />
        <xs:element minOccurs="0" name="aantalOpgehaald" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>