tools/Loginbeheer/LoginTestClient/Service References/ServiceReference1/Service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:55637/LoginService/Service.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:55637/LoginService/Service.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/System.ServiceModel" />
      <xsd:import schemaLocation="http://localhost:55637/LoginService/Service.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:55637/LoginService/Service.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/System" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService_GapLoginAanvragen_InputMessage">
    <wsdl:part name="parameters" element="tns:GapLoginAanvragen" />
  </wsdl:message>
  <wsdl:message name="IService_GapLoginAanvragen_OutputMessage">
    <wsdl:part name="parameters" element="tns:GapLoginAanvragenResponse" />
  </wsdl:message>
  <wsdl:message name="IService_GapLoginAanvragen_FaultExceptionOf_FormatExceptionFault_FaultMessage">
    <wsdl:part xmlns:q1="http://schemas.datacontract.org/2004/07/System.ServiceModel" name="detail" element="q1:FaultExceptionOfFormatException5F2dSckg" />
  </wsdl:message>
  <wsdl:message name="IService_GapLoginAanvragen_FaultExceptionOf_ArgumentExceptionFault_FaultMessage">
    <wsdl:part xmlns:q2="http://schemas.datacontract.org/2004/07/System.ServiceModel" name="detail" element="q2:FaultExceptionOfArgumentException5F2dSckg" />
  </wsdl:message>
  <wsdl:message name="IService_GapLoginAanvragen_FaultExceptionOf_InvalidOperationExceptionFault_FaultMessage">
    <wsdl:part xmlns:q3="http://schemas.datacontract.org/2004/07/System.ServiceModel" name="detail" element="q3:FaultExceptionOfInvalidOperationException5F2dSckg" />
  </wsdl:message>
  <wsdl:portType name="IService">
    <wsdl:operation name="GapLoginAanvragen">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/GapLoginAanvragen" message="tns:IService_GapLoginAanvragen_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/GapLoginAanvragenResponse" message="tns:IService_GapLoginAanvragen_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IService/GapLoginAanvragenFaultExceptionOf_FormatExceptionFault" name="FaultExceptionOf_FormatExceptionFault" message="tns:IService_GapLoginAanvragen_FaultExceptionOf_FormatExceptionFault_FaultMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IService/GapLoginAanvragenFaultExceptionOf_ArgumentExceptionFault" name="FaultExceptionOf_ArgumentExceptionFault" message="tns:IService_GapLoginAanvragen_FaultExceptionOf_ArgumentExceptionFault_FaultMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IService/GapLoginAanvragenFaultExceptionOf_InvalidOperationExceptionFault" name="FaultExceptionOf_InvalidOperationExceptionFault" message="tns:IService_GapLoginAanvragen_FaultExceptionOf_InvalidOperationExceptionFault_FaultMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService" type="tns:IService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GapLoginAanvragen">
      <soap:operation soapAction="http://tempuri.org/IService/GapLoginAanvragen" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="FaultExceptionOf_FormatExceptionFault">
        <soap:fault use="literal" name="FaultExceptionOf_FormatExceptionFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="FaultExceptionOf_ArgumentExceptionFault">
        <soap:fault use="literal" name="FaultExceptionOf_ArgumentExceptionFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="FaultExceptionOf_InvalidOperationExceptionFault">
        <soap:fault use="literal" name="FaultExceptionOf_InvalidOperationExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service">
    <wsdl:port name="BasicHttpBinding_IService" binding="tns:BasicHttpBinding_IService">
      <soap:address location="http://localhost:55637/LoginService/Service.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>