poc/ef2/WebServices.Test/Service References/GroepenServiceReference/GroepenService4.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Cg2.Orm" xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Cg2.Orm" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:2733/GroepenService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:import schemaLocation="http://localhost:2733/GroepenService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" />
  <xs:complexType name="Groep">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" base="q1:EntityObject">
        <xs:sequence>
          <xs:element minOccurs="0" name="BusinessKey" type="ser:guid" />
          <xs:element minOccurs="0" name="Code" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="GelieerdePersoon" nillable="true" type="tns:ArrayOfGelieerdePersoon" />
          <xs:element minOccurs="0" name="ID" type="xs:int" />
          <xs:element minOccurs="0" name="Logo" nillable="true" type="xs:base64Binary" />
          <xs:element minOccurs="0" name="Naam" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="OprichtingsJaar" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="Versie" nillable="true" type="xs:base64Binary" />
          <xs:element minOccurs="0" name="WebSite" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Groep" nillable="true" type="tns:Groep" />
  <xs:complexType name="ArrayOfGelieerdePersoon">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="GelieerdePersoon" nillable="true" type="tns:GelieerdePersoon" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfGelieerdePersoon" nillable="true" type="tns:ArrayOfGelieerdePersoon" />
  <xs:complexType name="GelieerdePersoon">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q2="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" base="q2:EntityObject">
        <xs:sequence>
          <xs:element minOccurs="0" name="BusinessKey" type="ser:guid" />
          <xs:element minOccurs="0" name="ChiroLeefTijd" type="xs:int" />
          <xs:element minOccurs="0" name="Groep" nillable="true" type="tns:Groep" />
          <xs:element minOccurs="0" name="GroepID" type="xs:int" />
          <xs:element minOccurs="0" name="GroepReference" nillable="true" type="q2:EntityReferenceOfGroepjQfcsukF" />
          <xs:element minOccurs="0" name="ID" type="xs:int" />
          <xs:element minOccurs="0" name="Persoon" nillable="true" type="tns:Persoon" />
          <xs:element minOccurs="0" name="PersoonID" type="xs:int" />
          <xs:element minOccurs="0" name="PersoonReference" nillable="true" type="q2:EntityReferenceOfPersoonjQfcsukF" />
          <xs:element minOccurs="0" name="Versie" nillable="true" type="xs:base64Binary" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="GelieerdePersoon" nillable="true" type="tns:GelieerdePersoon" />
  <xs:complexType name="Persoon">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q3="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" base="q3:EntityObject">
        <xs:sequence>
          <xs:element minOccurs="0" name="AdNummer" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="BusinessKey" type="ser:guid" />
          <xs:element minOccurs="0" name="Communicatie" nillable="true" type="tns:ArrayOfCommunicatieVorm" />
          <xs:element minOccurs="0" name="GeboorteDatum" nillable="true" type="xs:dateTime" />
          <xs:element minOccurs="0" name="GelieerdePersoon" nillable="true" type="tns:ArrayOfGelieerdePersoon" />
          <xs:element minOccurs="0" name="GeslachtsInt" type="xs:int" />
          <xs:element minOccurs="0" name="ID" type="xs:int" />
          <xs:element minOccurs="0" name="Naam" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="SterfDatum" nillable="true" type="xs:dateTime" />
          <xs:element minOccurs="0" name="Versie" nillable="true" type="xs:base64Binary" />
          <xs:element minOccurs="0" name="VoorNaam" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Persoon" nillable="true" type="tns:Persoon" />
  <xs:complexType name="ArrayOfCommunicatieVorm">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CommunicatieVorm" nillable="true" type="tns:CommunicatieVorm" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCommunicatieVorm" nillable="true" type="tns:ArrayOfCommunicatieVorm" />
  <xs:complexType name="CommunicatieVorm">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q4="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" base="q4:EntityObject">
        <xs:sequence>
          <xs:element minOccurs="0" name="CommunicatieTypeInt" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="ID" type="xs:int" />
          <xs:element minOccurs="0" name="IsGezinsgebonden" type="xs:boolean" />
          <xs:element minOccurs="0" name="Nota" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Nummer" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Persoon" nillable="true" type="tns:Persoon" />
          <xs:element minOccurs="0" name="PersoonReference" nillable="true" type="q4:EntityReferenceOfPersoonjQfcsukF" />
          <xs:element minOccurs="0" name="Versie" nillable="true" type="xs:base64Binary" />
          <xs:element minOccurs="0" name="Voorkeur" type="xs:boolean" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="CommunicatieVorm" nillable="true" type="tns:CommunicatieVorm" />
  <xs:complexType name="ChiroGroep">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:Groep">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ChiroGroep" nillable="true" type="tns:ChiroGroep" />
</xs:schema>