poc/EntityFramework/WebApp/Service References/CgServiceReference/GroepenService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Cg2.Core.Domain" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Cg2.Core.Domain" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:4047/GroepenService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/System.Data" />
  <xs:complexType name="Groep">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BasisEntiteit">
        <xs:sequence>
          <xs:element name="_code" nillable="true" type="xs:string" />
          <xs:element name="_naam" nillable="true" type="xs:string" />
          <xs:element name="_oprichtingsJaar" nillable="true" type="xs:int" />
          <xs:element name="_webSite" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Groep" nillable="true" type="tns:Groep" />
  <xs:complexType name="BasisEntiteit">
    <xs:sequence>
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/System.Data" minOccurs="0" name="System.Data.Objects.DataClasses.IEntityWithKey.EntityKey" nillable="true" type="q1:EntityKey" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BasisEntiteit" nillable="true" type="tns:BasisEntiteit" />
  <xs:complexType name="ChiroGroep">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:Groep">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ChiroGroep" nillable="true" type="tns:ChiroGroep" />
</xs:schema>