tools/GapCli/GroepOpnieuwSyncen/Service References/GapUpdateService/UpdateService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="UpdateService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="NetMsmqBinding_IUpdateService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1" />
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8001/GapUpdateSvc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8001/GapUpdateSvc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IUpdateService_AdNummerToekennen_InputMessage">
    <wsdl:part name="parameters" element="tns:AdNummerToekennen" />
  </wsdl:message>
  <wsdl:message name="IUpdateService_AdNummerVervangen_InputMessage">
    <wsdl:part name="parameters" element="tns:AdNummerVervangen" />
  </wsdl:message>
  <wsdl:message name="IUpdateService_OpnieuwSyncen_InputMessage">
    <wsdl:part name="parameters" element="tns:OpnieuwSyncen" />
  </wsdl:message>
  <wsdl:portType name="IUpdateService">
    <wsdl:operation name="AdNummerToekennen">
      <wsdl:input wsaw:Action="http://tempuri.org/IUpdateService/AdNummerToekennen" message="tns:IUpdateService_AdNummerToekennen_InputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AdNummerVervangen">
      <wsdl:input wsaw:Action="http://tempuri.org/IUpdateService/AdNummerVervangen" message="tns:IUpdateService_AdNummerVervangen_InputMessage" />
    </wsdl:operation>
    <wsdl:operation name="OpnieuwSyncen">
      <wsdl:input wsaw:Action="http://tempuri.org/IUpdateService/OpnieuwSyncen" message="tns:IUpdateService_OpnieuwSyncen_InputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="NetMsmqBinding_IUpdateService" type="tns:IUpdateService">
    <wsp:PolicyReference URI="#NetMsmqBinding_IUpdateService_policy" />
    <soap12:binding transport="http://schemas.microsoft.com/soap/msmq" />
    <wsdl:operation name="AdNummerToekennen">
      <soap12:operation soapAction="http://tempuri.org/IUpdateService/AdNummerToekennen" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="AdNummerVervangen">
      <soap12:operation soapAction="http://tempuri.org/IUpdateService/AdNummerVervangen" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="OpnieuwSyncen">
      <soap12:operation soapAction="http://tempuri.org/IUpdateService/OpnieuwSyncen" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="UpdateService">
    <wsdl:port name="NetMsmqBinding_IUpdateService" binding="tns:NetMsmqBinding_IUpdateService">
      <soap12:address location="net.msmq://localhost/gapupdate" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.msmq://localhost/gapupdate</wsa10:Address>
        <Identity xmlns="http://schemas.xmlsoap.org/ws/2006/02/addressingidentity">
          <Dns>localhost</Dns>
        </Identity>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>