Solution/Chiro.Gap.Workers/Service References/KipSync/SyncPersoonService.wsdl

<?xml version="1.0" encoding="utf-8"?>

<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:tns="http://tempuri.org/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" name="SyncPersoonService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
	<wsp:Policy wsu:Id="NetMsmqBinding_ISyncPersoonService_policy">
		<wsp:ExactlyOne>
			<wsp:All>
				<msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1" />
				<wsaw:UsingAddressing />
			</wsp:All>
		</wsp:ExactlyOne>
	</wsp:Policy>
	<wsdl:types>
		<xsd:schema targetNamespace="http://tempuri.org/Imports">
			<xsd:import schemaLocation="http://localhost:8000/KipSyncService?xsd=xsd0" namespace="http://tempuri.org/" />
			<xsd:import schemaLocation="http://localhost:8000/KipSyncService?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
			<xsd:import schemaLocation="http://localhost:8000/KipSyncService?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Chiro.Kip.Services.DataContracts" />
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="ISyncPersoonService_PersoonUpdated_InputMessage">
		<wsdl:part name="parameters" element="tns:PersoonUpdated" />
	</wsdl:message>
	<wsdl:message name="ISyncPersoonService_AdresUpdated_InputMessage">
		<wsdl:part name="parameters" element="tns:AdresUpdated" />
	</wsdl:message>
	<wsdl:message name="ISyncPersoonService_CommunicatieUpdated_InputMessage">
		<wsdl:part name="parameters" element="tns:CommunicatieUpdated" />
	</wsdl:message>
	<wsdl:portType name="ISyncPersoonService">
		<wsdl:operation name="PersoonUpdated">
			<wsdl:input wsaw:Action="http://tempuri.org/ISyncPersoonService/PersoonUpdated" message="tns:ISyncPersoonService_PersoonUpdated_InputMessage" />
		</wsdl:operation>
		<wsdl:operation name="AdresUpdated">
			<wsdl:input wsaw:Action="http://tempuri.org/ISyncPersoonService/AdresUpdated" message="tns:ISyncPersoonService_AdresUpdated_InputMessage" />
		</wsdl:operation>
		<wsdl:operation name="CommunicatieUpdated">
			<wsdl:input wsaw:Action="http://tempuri.org/ISyncPersoonService/CommunicatieUpdated" message="tns:ISyncPersoonService_CommunicatieUpdated_InputMessage" />
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="NetMsmqBinding_ISyncPersoonService" type="tns:ISyncPersoonService">
		<wsp:PolicyReference URI="#NetMsmqBinding_ISyncPersoonService_policy" />
		<soap12:binding transport="http://schemas.microsoft.com/soap/msmq" />
		<wsdl:operation name="PersoonUpdated">
			<soap12:operation soapAction="http://tempuri.org/ISyncPersoonService/PersoonUpdated" style="document" />
			<wsdl:input>
				<soap12:body use="literal" />
			</wsdl:input>
		</wsdl:operation>
		<wsdl:operation name="AdresUpdated">
			<soap12:operation soapAction="http://tempuri.org/ISyncPersoonService/AdresUpdated" style="document" />
			<wsdl:input>
				<soap12:body use="literal" />
			</wsdl:input>
		</wsdl:operation>
		<wsdl:operation name="CommunicatieUpdated">
			<soap12:operation soapAction="http://tempuri.org/ISyncPersoonService/CommunicatieUpdated" style="document" />
			<wsdl:input>
				<soap12:body use="literal" />
			</wsdl:input>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="SyncPersoonService">
		<wsdl:port name="NetMsmqBinding_ISyncPersoonService" binding="tns:NetMsmqBinding_ISyncPersoonService">
			<soap12:address location="net.msmq://localhost/private/KipSyncPersoonServiceQueue" />
			<wsa10:EndpointReference>
				<wsa10:Address>
					net.msmq://localhost/private/KipSyncPersoonServiceQueue
				</wsa10:Address>
			</wsa10:EndpointReference>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>