poc/LinqToSql/ConsoleApplication1/Service References/PersonenServiceReference/PersonenService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:2428/PersonenService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/CgDal" />
  <xs:element name="Hallo">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="HalloResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="HalloResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PersoonGet">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="persoonID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PersoonGetResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/CgDal" minOccurs="0" name="PersoonGetResult" nillable="true" type="q1:Persoon" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PersoonUpdaten">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/CgDal" minOccurs="0" name="persoon" nillable="true" type="q2:Persoon" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PersoonUpdatenResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>