poc/ef2/WebServices.Test/Service References/PersonenServiceReference/PersonenService4.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:4047/PersonenService.svc?xsd=xsd1" namespace="http://schemas.datacontract.org/2004/07/Cg2.Orm" />
  <xs:element name="Ophalen">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="persoonID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OphalenResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Cg2.Orm" minOccurs="0" name="OphalenResult" nillable="true" type="q1:Persoon" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OphalenMetCommunicatie">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="persoonID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OphalenMetCommunicatieResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Cg2.Orm" minOccurs="0" name="OphalenMetCommunicatieResult" nillable="true" type="q2:Persoon" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Hallo">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="HalloResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="HalloResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>