poc/wcf/ConsoleApplication1/Service References/ChiroGroepServiceReference/CgService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/CgDal" xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/CgDal" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:2469/CgService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:import schemaLocation="http://localhost:2469/CgService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" />
  <xs:complexType name="Persoon">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" base="q1:EntityObject">
        <xs:sequence>
          <xs:element minOccurs="0" name="AdNummer" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="Categorie" nillable="true" type="tns:ArrayOfCategorie" />
          <xs:element minOccurs="0" name="ChiroLeefTijd" type="xs:int" />
          <xs:element minOccurs="0" name="CommunicatieVorm" nillable="true" type="tns:ArrayOfCommunicatieVorm" />
          <xs:element minOccurs="0" name="GeboorteDatum" nillable="true" type="xs:dateTime" />
          <xs:element minOccurs="0" name="Geslacht" type="xs:int" />
          <xs:element minOccurs="0" name="Groep" nillable="true" type="tns:ArrayOfGroep" />
          <xs:element minOccurs="0" name="Guid" nillable="true" type="ser:guid" />
          <xs:element minOccurs="0" name="Naam" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="PersoonID" type="xs:int" />
          <xs:element minOccurs="0" name="PersoonVrijVeld" nillable="true" type="tns:ArrayOfPersoonVrijVeld" />
          <xs:element minOccurs="0" name="PersoonsAdres" nillable="true" type="tns:ArrayOfPersoonsAdres" />
          <xs:element minOccurs="0" name="SterfDatum" nillable="true" type="xs:dateTime" />
          <xs:element minOccurs="0" name="VoorNaam" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Persoon" nillable="true" type="tns:Persoon" />
  <xs:complexType name="ArrayOfCategorie">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Categorie" nillable="true" type="tns:Categorie" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCategorie" nillable="true" type="tns:ArrayOfCategorie" />
  <xs:complexType name="Categorie">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q2="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" base="q2:EntityObject">
        <xs:sequence>
          <xs:element minOccurs="0" name="CategorieID" type="xs:int" />
          <xs:element minOccurs="0" name="Code" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Naam" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Persoon" nillable="true" type="tns:ArrayOfPersoon" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Categorie" nillable="true" type="tns:Categorie" />
  <xs:complexType name="ArrayOfPersoon">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Persoon" nillable="true" type="tns:Persoon" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPersoon" nillable="true" type="tns:ArrayOfPersoon" />
  <xs:complexType name="ArrayOfCommunicatieVorm">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CommunicatieVorm" nillable="true" type="tns:CommunicatieVorm" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCommunicatieVorm" nillable="true" type="tns:ArrayOfCommunicatieVorm" />
  <xs:complexType name="CommunicatieVorm">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q3="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" base="q3:EntityObject">
        <xs:sequence>
          <xs:element minOccurs="0" name="CommunicatieType" nillable="true" type="tns:CommunicatieType" />
          <xs:element minOccurs="0" name="CommunicatieTypeReference" nillable="true" type="q3:EntityReferenceOfCommunicatieTypeX7FIntyW" />
          <xs:element minOccurs="0" name="CommunicatieVormID" type="xs:int" />
          <xs:element minOccurs="0" name="Nota" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Nummer" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Persoon" nillable="true" type="tns:Persoon" />
          <xs:element minOccurs="0" name="PersoonReference" nillable="true" type="q3:EntityReferenceOfPersoonX7FIntyW" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="CommunicatieVorm" nillable="true" type="tns:CommunicatieVorm" />
  <xs:complexType name="CommunicatieType">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q4="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" base="q4:EntityObject">
        <xs:sequence>
          <xs:element minOccurs="0" name="CommunicatieTypeID" type="xs:int" />
          <xs:element minOccurs="0" name="CommunicatieVorm" nillable="true" type="tns:ArrayOfCommunicatieVorm" />
          <xs:element minOccurs="0" name="IsGezinsGebonden" nillable="true" type="xs:boolean" />
          <xs:element minOccurs="0" name="Omschrijving" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Validatie" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="CommunicatieType" nillable="true" type="tns:CommunicatieType" />
  <xs:complexType name="ArrayOfGroep">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Groep" nillable="true" type="tns:Groep" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfGroep" nillable="true" type="tns:ArrayOfGroep" />
  <xs:complexType name="Groep">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q5="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" base="q5:EntityObject">
        <xs:sequence>
          <xs:element minOccurs="0" name="Adres" nillable="true" type="tns:ArrayOfAdres" />
          <xs:element minOccurs="0" name="Code" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="GroepID" type="xs:int" />
          <xs:element minOccurs="0" name="Logo" nillable="true" type="xs:base64Binary" />
          <xs:element minOccurs="0" name="Naam" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="OprichtingsJaar" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="Persoon" nillable="true" type="tns:ArrayOfPersoon" />
          <xs:element minOccurs="0" name="PersoonVrijVeldType" nillable="true" type="tns:ArrayOfPersoonVrijVeldType" />
          <xs:element minOccurs="0" name="WebSite" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Groep" nillable="true" type="tns:Groep" />
  <xs:complexType name="ArrayOfAdres">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Adres" nillable="true" type="tns:Adres" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAdres" nillable="true" type="tns:ArrayOfAdres" />
  <xs:complexType name="Adres">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q6="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" base="q6:EntityObject">
        <xs:sequence>
          <xs:element minOccurs="0" name="AdresID" type="xs:int" />
          <xs:element minOccurs="0" name="Bus" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Groep" nillable="true" type="tns:ArrayOfGroep" />
          <xs:element minOccurs="0" name="HuisNr" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="PersoonsAdres" nillable="true" type="tns:ArrayOfPersoonsAdres" />
          <xs:element minOccurs="0" name="PostCode" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Straat" nillable="true" type="tns:Straat" />
          <xs:element minOccurs="0" name="StraatReference" nillable="true" type="q6:EntityReferenceOfStraatX7FIntyW" />
          <xs:element minOccurs="0" name="Subgemeente" nillable="true" type="tns:Subgemeente" />
          <xs:element minOccurs="0" name="SubgemeenteReference" nillable="true" type="q6:EntityReferenceOfSubgemeenteX7FIntyW" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Adres" nillable="true" type="tns:Adres" />
  <xs:complexType name="ArrayOfPersoonsAdres">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PersoonsAdres" nillable="true" type="tns:PersoonsAdres" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPersoonsAdres" nillable="true" type="tns:ArrayOfPersoonsAdres" />
  <xs:complexType name="PersoonsAdres">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q7="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" base="q7:EntityObject">
        <xs:sequence>
          <xs:element minOccurs="0" name="Adres" nillable="true" type="tns:Adres" />
          <xs:element minOccurs="0" name="AdresID" type="xs:int" />
          <xs:element minOccurs="0" name="AdresReference" nillable="true" type="q7:EntityReferenceOfAdresX7FIntyW" />
          <xs:element minOccurs="0" name="AdresType" nillable="true" type="tns:AdresType" />
          <xs:element minOccurs="0" name="AdresTypeReference" nillable="true" type="q7:EntityReferenceOfAdresTypeX7FIntyW" />
          <xs:element minOccurs="0" name="IsStandaard" type="xs:boolean" />
          <xs:element minOccurs="0" name="Opmerking" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Persoon" nillable="true" type="tns:Persoon" />
          <xs:element minOccurs="0" name="PersoonID" type="xs:int" />
          <xs:element minOccurs="0" name="PersoonReference" nillable="true" type="q7:EntityReferenceOfPersoonX7FIntyW" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="PersoonsAdres" nillable="true" type="tns:PersoonsAdres" />
  <xs:complexType name="AdresType">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q8="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" base="q8:EntityObject">
        <xs:sequence>
          <xs:element minOccurs="0" name="AdresTypeID" type="xs:int" />
          <xs:element minOccurs="0" name="Omschrijving" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="PersoonsAdres" nillable="true" type="tns:ArrayOfPersoonsAdres" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="AdresType" nillable="true" type="tns:AdresType" />
  <xs:complexType name="Straat">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q9="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" base="q9:EntityObject">
        <xs:sequence>
          <xs:element minOccurs="0" name="Adres" nillable="true" type="tns:ArrayOfAdres" />
          <xs:element minOccurs="0" name="Naam" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="PostCode" nillable="true" type="tns:PostCode" />
          <xs:element minOccurs="0" name="PostCodeReference" nillable="true" type="q9:EntityReferenceOfPostCodeX7FIntyW" />
          <xs:element minOccurs="0" name="StraatID" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Straat" nillable="true" type="tns:Straat" />
  <xs:complexType name="PostCode">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q10="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" base="q10:EntityObject">
        <xs:sequence>
          <xs:element minOccurs="0" name="Gemeente" nillable="true" type="tns:ArrayOfGemeente" />
          <xs:element minOccurs="0" name="PostCode1" type="xs:int" />
          <xs:element minOccurs="0" name="Straat" nillable="true" type="tns:ArrayOfStraat" />
          <xs:element minOccurs="0" name="Subgemeente" nillable="true" type="tns:ArrayOfSubgemeente" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="PostCode" nillable="true" type="tns:PostCode" />
  <xs:complexType name="ArrayOfGemeente">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Gemeente" nillable="true" type="tns:Gemeente" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfGemeente" nillable="true" type="tns:ArrayOfGemeente" />
  <xs:complexType name="Gemeente">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q11="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" base="q11:EntityObject">
        <xs:sequence>
          <xs:element minOccurs="0" name="GemeenteID" type="xs:int" />
          <xs:element minOccurs="0" name="Naam" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="NisGemeenteCode" type="xs:decimal" />
          <xs:element minOccurs="0" name="PostCode" nillable="true" type="tns:ArrayOfPostCode" />
          <xs:element minOccurs="0" name="Taal" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Gemeente" nillable="true" type="tns:Gemeente" />
  <xs:complexType name="ArrayOfPostCode">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PostCode" nillable="true" type="tns:PostCode" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPostCode" nillable="true" type="tns:ArrayOfPostCode" />
  <xs:complexType name="ArrayOfStraat">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Straat" nillable="true" type="tns:Straat" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfStraat" nillable="true" type="tns:ArrayOfStraat" />
  <xs:complexType name="ArrayOfSubgemeente">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Subgemeente" nillable="true" type="tns:Subgemeente" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSubgemeente" nillable="true" type="tns:ArrayOfSubgemeente" />
  <xs:complexType name="Subgemeente">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q12="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" base="q12:EntityObject">
        <xs:sequence>
          <xs:element minOccurs="0" name="Adres" nillable="true" type="tns:ArrayOfAdres" />
          <xs:element minOccurs="0" name="Naam" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="PostCode" nillable="true" type="tns:PostCode" />
          <xs:element minOccurs="0" name="PostCodeReference" nillable="true" type="q12:EntityReferenceOfPostCodeX7FIntyW" />
          <xs:element minOccurs="0" name="SubgemeenteID" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Subgemeente" nillable="true" type="tns:Subgemeente" />
  <xs:complexType name="ArrayOfPersoonVrijVeldType">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PersoonVrijVeldType" nillable="true" type="tns:PersoonVrijVeldType" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPersoonVrijVeldType" nillable="true" type="tns:ArrayOfPersoonVrijVeldType" />
  <xs:complexType name="PersoonVrijVeldType">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q13="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" base="q13:EntityObject">
        <xs:sequence>
          <xs:element minOccurs="0" name="Groep" nillable="true" type="tns:Groep" />
          <xs:element minOccurs="0" name="GroepReference" nillable="true" type="q13:EntityReferenceOfGroepX7FIntyW" />
          <xs:element minOccurs="0" name="PersoonVrijVeld" nillable="true" type="tns:ArrayOfPersoonVrijVeld" />
          <xs:element minOccurs="0" name="PersoonVrijVeldTypeID" type="xs:int" />
          <xs:element minOccurs="0" name="VrijVeldType" nillable="true" type="tns:VrijVeldType" />
          <xs:element minOccurs="0" name="VrijVeldTypeReference" nillable="true" type="q13:EntityReferenceOfVrijVeldTypeX7FIntyW" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="PersoonVrijVeldType" nillable="true" type="tns:PersoonVrijVeldType" />
  <xs:complexType name="ArrayOfPersoonVrijVeld">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PersoonVrijVeld" nillable="true" type="tns:PersoonVrijVeld" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPersoonVrijVeld" nillable="true" type="tns:ArrayOfPersoonVrijVeld" />
  <xs:complexType name="PersoonVrijVeld">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q14="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" base="q14:EntityObject">
        <xs:sequence>
          <xs:element minOccurs="0" name="Persoon" nillable="true" type="tns:Persoon" />
          <xs:element minOccurs="0" name="PersoonID" type="xs:int" />
          <xs:element minOccurs="0" name="PersoonReference" nillable="true" type="q14:EntityReferenceOfPersoonX7FIntyW" />
          <xs:element minOccurs="0" name="PersoonVrijVeldType" nillable="true" type="tns:PersoonVrijVeldType" />
          <xs:element minOccurs="0" name="PersoonVrijVeldTypeID" type="xs:int" />
          <xs:element minOccurs="0" name="PersoonVrijVeldTypeReference" nillable="true" type="q14:EntityReferenceOfPersoonVrijVeldTypeX7FIntyW" />
          <xs:element minOccurs="0" name="Waarde" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="PersoonVrijVeld" nillable="true" type="tns:PersoonVrijVeld" />
  <xs:complexType name="VrijVeldType">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q15="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" base="q15:EntityObject">
        <xs:sequence>
          <xs:element minOccurs="0" name="DataType" type="xs:int" />
          <xs:element minOccurs="0" name="Naam" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="PersoonVrijVeldType" nillable="true" type="tns:PersoonVrijVeldType" />
          <xs:element minOccurs="0" name="PersoonVrijVeldTypeReference" nillable="true" type="q15:EntityReferenceOfPersoonVrijVeldTypeX7FIntyW" />
          <xs:element minOccurs="0" name="VrijVeldTypeID" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="VrijVeldType" nillable="true" type="tns:VrijVeldType" />
</xs:schema>