poc/references/ConsoleApplication1/Service References/ChiroGroepServiceReference/CgService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:2469/CgService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/CgDal" />
  <xs:element name="PersoonGet">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="persoonID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PersoonGetResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/CgDal" minOccurs="0" name="PersoonGetResult" nillable="true" type="q1:Persoon" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PersoonsAdressenGet">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="persoonID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PersoonsAdressenGetResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/CgDal" minOccurs="0" name="PersoonsAdressenGetResult" nillable="true" type="q2:ArrayOfPersoonsAdres" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PersoonUpdaten">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/CgDal" minOccurs="0" name="bijgewerktePersoon" nillable="true" type="q3:Persoon" />
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/CgDal" minOccurs="0" name="oorspronkelijkePersoon" nillable="true" type="q4:Persoon" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PersoonUpdatenResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="PersoonsAdresUpdaten">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/CgDal" minOccurs="0" name="bijgewerktAdres" nillable="true" type="q5:PersoonsAdres" />
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/CgDal" minOccurs="0" name="oorspronkelijkAdres" nillable="true" type="q6:PersoonsAdres" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PersoonsAdresUpdatenResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="WerkAdresType">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="WerkAdresTypeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/CgDal" minOccurs="0" name="WerkAdresTypeResult" nillable="true" type="q7:AdresType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="KotAdresType">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="KotAdresTypeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/CgDal" minOccurs="0" name="KotAdresTypeResult" nillable="true" type="q8:AdresType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ThuisAdresType">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ThuisAdresTypeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/CgDal" minOccurs="0" name="ThuisAdresTypeResult" nillable="true" type="q9:AdresType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OnbekendAdresType">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="OnbekendAdresTypeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/CgDal" minOccurs="0" name="OnbekendAdresTypeResult" nillable="true" type="q10:AdresType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Hello">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="HelloResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="HelloResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>