poc/ef2/MvcWebApp2/Service References/GelieerdePersonenServiceReference/GelieerdePersonenService4.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Cg2.Orm" xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Cg2.Orm" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:2733/GelieerdePersonenService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:import schemaLocation="http://localhost:2733/GelieerdePersonenService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" />
  <xs:complexType name="ArrayOfGelieerdePersoon">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="GelieerdePersoon" nillable="true" type="tns:GelieerdePersoon" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfGelieerdePersoon" nillable="true" type="tns:ArrayOfGelieerdePersoon" />
  <xs:complexType name="GelieerdePersoon">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" base="q1:EntityObject">
        <xs:sequence>
          <xs:element minOccurs="0" name="BusinessKey" type="ser:guid" />
          <xs:element minOccurs="0" name="ChiroLeefTijd" type="xs:int" />
          <xs:element minOccurs="0" name="Communicatie" nillable="true" type="tns:ArrayOfCommunicatieVorm" />
          <xs:element minOccurs="0" name="Groep" nillable="true" type="tns:Groep" />
          <xs:element minOccurs="0" name="GroepReference" nillable="true" type="q1:EntityReferenceOfGroepjQfcsukF" />
          <xs:element minOccurs="0" name="ID" type="xs:int" />
          <xs:element minOccurs="0" name="Lid" nillable="true" type="tns:ArrayOfLid" />
          <xs:element minOccurs="0" name="Persoon" nillable="true" type="tns:Persoon" />
          <xs:element minOccurs="0" name="PersoonReference" nillable="true" type="q1:EntityReferenceOfPersoonjQfcsukF" />
          <xs:element minOccurs="0" name="PersoonsAdres" nillable="true" type="tns:ArrayOfPersoonsAdres" />
          <xs:element minOccurs="0" name="Versie" nillable="true" type="xs:base64Binary" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="GelieerdePersoon" nillable="true" type="tns:GelieerdePersoon" />
  <xs:complexType name="ArrayOfCommunicatieVorm">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CommunicatieVorm" nillable="true" type="tns:CommunicatieVorm" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCommunicatieVorm" nillable="true" type="tns:ArrayOfCommunicatieVorm" />
  <xs:complexType name="CommunicatieVorm">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q2="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" base="q2:EntityObject">
        <xs:sequence>
          <xs:element minOccurs="0" name="CommunicatieTypeInt" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="CommunicatieVormID" type="xs:int" />
          <xs:element minOccurs="0" name="GelieerdePersoon" nillable="true" type="tns:GelieerdePersoon" />
          <xs:element minOccurs="0" name="GelieerdePersoonReference" nillable="true" type="q2:EntityReferenceOfGelieerdePersoonjQfcsukF" />
          <xs:element minOccurs="0" name="IsGezinsgebonden" type="xs:boolean" />
          <xs:element minOccurs="0" name="Nota" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Nummer" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Versie" nillable="true" type="xs:base64Binary" />
          <xs:element minOccurs="0" name="Voorkeur" type="xs:boolean" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="CommunicatieVorm" nillable="true" type="tns:CommunicatieVorm" />
  <xs:complexType name="Groep">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q3="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" base="q3:EntityObject">
        <xs:sequence>
          <xs:element minOccurs="0" name="BusinessKey" type="ser:guid" />
          <xs:element minOccurs="0" name="Code" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="GelieerdePersoon" nillable="true" type="tns:ArrayOfGelieerdePersoon" />
          <xs:element minOccurs="0" name="GroepsWerkJaar" nillable="true" type="tns:ArrayOfGroepsWerkJaar" />
          <xs:element minOccurs="0" name="ID" type="xs:int" />
          <xs:element minOccurs="0" name="Logo" nillable="true" type="xs:base64Binary" />
          <xs:element minOccurs="0" name="Naam" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="OprichtingsJaar" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="Versie" nillable="true" type="xs:base64Binary" />
          <xs:element minOccurs="0" name="WebSite" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Groep" nillable="true" type="tns:Groep" />
  <xs:complexType name="ArrayOfGroepsWerkJaar">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="GroepsWerkJaar" nillable="true" type="tns:GroepsWerkJaar" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfGroepsWerkJaar" nillable="true" type="tns:ArrayOfGroepsWerkJaar" />
  <xs:complexType name="GroepsWerkJaar">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q4="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" base="q4:EntityObject">
        <xs:sequence>
          <xs:element minOccurs="0" name="Groep" nillable="true" type="tns:Groep" />
          <xs:element minOccurs="0" name="GroepReference" nillable="true" type="q4:EntityReferenceOfGroepjQfcsukF" />
          <xs:element minOccurs="0" name="ID" type="xs:int" />
          <xs:element minOccurs="0" name="Lid" nillable="true" type="tns:ArrayOfLid" />
          <xs:element minOccurs="0" name="WerkJaar" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="GroepsWerkJaar" nillable="true" type="tns:GroepsWerkJaar" />
  <xs:complexType name="ArrayOfLid">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Lid" nillable="true" type="tns:Lid" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfLid" nillable="true" type="tns:ArrayOfLid" />
  <xs:complexType name="Lid">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q5="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" base="q5:EntityObject">
        <xs:sequence>
          <xs:element minOccurs="0" name="BusinessKey" type="ser:guid" />
          <xs:element minOccurs="0" name="EindeInstapPeriode" nillable="true" type="xs:dateTime" />
          <xs:element minOccurs="0" name="GelieerdePersoon" nillable="true" type="tns:GelieerdePersoon" />
          <xs:element minOccurs="0" name="GelieerdePersoonReference" nillable="true" type="q5:EntityReferenceOfGelieerdePersoonjQfcsukF" />
          <xs:element minOccurs="0" name="GroepsWerkJaar" nillable="true" type="tns:GroepsWerkJaar" />
          <xs:element minOccurs="0" name="GroepsWerkJaarReference" nillable="true" type="q5:EntityReferenceOfGroepsWerkJaarjQfcsukF" />
          <xs:element minOccurs="0" name="ID" type="xs:int" />
          <xs:element minOccurs="0" name="LidgeldBetaald" type="xs:boolean" />
          <xs:element minOccurs="0" name="NonActief" type="xs:boolean" />
          <xs:element minOccurs="0" name="Versie" nillable="true" type="xs:base64Binary" />
          <xs:element minOccurs="0" name="Verwijderd" type="xs:boolean" />
          <xs:element minOccurs="0" name="VolgendWerkjaar" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Lid" nillable="true" type="tns:Lid" />
  <xs:complexType name="ChiroGroep">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:Groep">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ChiroGroep" nillable="true" type="tns:ChiroGroep" />
  <xs:complexType name="Persoon">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q6="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" base="q6:EntityObject">
        <xs:sequence>
          <xs:element minOccurs="0" name="AdNummer" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="BusinessKey" type="ser:guid" />
          <xs:element minOccurs="0" name="GeboorteDatum" nillable="true" type="xs:dateTime" />
          <xs:element minOccurs="0" name="GelieerdePersoon" nillable="true" type="tns:ArrayOfGelieerdePersoon" />
          <xs:element minOccurs="0" name="GeslachtsInt" type="xs:int" />
          <xs:element minOccurs="0" name="ID" type="xs:int" />
          <xs:element minOccurs="0" name="Naam" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="SterfDatum" nillable="true" type="xs:dateTime" />
          <xs:element minOccurs="0" name="Versie" nillable="true" type="xs:base64Binary" />
          <xs:element minOccurs="0" name="VoorNaam" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Persoon" nillable="true" type="tns:Persoon" />
  <xs:complexType name="ArrayOfPersoonsAdres">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PersoonsAdres" nillable="true" type="tns:PersoonsAdres" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPersoonsAdres" nillable="true" type="tns:ArrayOfPersoonsAdres" />
  <xs:complexType name="PersoonsAdres">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q7="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" base="q7:EntityObject">
        <xs:sequence>
          <xs:element minOccurs="0" name="Adres" nillable="true" type="tns:Adres" />
          <xs:element minOccurs="0" name="AdresID" type="xs:int" />
          <xs:element minOccurs="0" name="AdresReference" nillable="true" type="q7:EntityReferenceOfAdresjQfcsukF" />
          <xs:element minOccurs="0" name="AdresTypeID" type="xs:int" />
          <xs:element minOccurs="0" name="GelieerdePersoon" nillable="true" type="tns:GelieerdePersoon" />
          <xs:element minOccurs="0" name="GelieerdePersoonID" type="xs:int" />
          <xs:element minOccurs="0" name="GelieerdePersoonReference" nillable="true" type="q7:EntityReferenceOfGelieerdePersoonjQfcsukF" />
          <xs:element minOccurs="0" name="IsStandaard" type="xs:boolean" />
          <xs:element minOccurs="0" name="Opmerking" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Versie" nillable="true" type="xs:base64Binary" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="PersoonsAdres" nillable="true" type="tns:PersoonsAdres" />
  <xs:complexType name="Adres">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q8="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" base="q8:EntityObject">
        <xs:sequence>
          <xs:element minOccurs="0" name="AdresID" type="xs:int" />
          <xs:element minOccurs="0" name="Bus" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="HuisNr" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="PersoonsAdres" nillable="true" type="tns:ArrayOfPersoonsAdres" />
          <xs:element minOccurs="0" name="PostCode" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Straat" nillable="true" type="tns:Straat" />
          <xs:element minOccurs="0" name="StraatReference" nillable="true" type="q8:EntityReferenceOfStraatjQfcsukF" />
          <xs:element minOccurs="0" name="Subgemeente" nillable="true" type="tns:Subgemeente" />
          <xs:element minOccurs="0" name="SubgemeenteReference" nillable="true" type="q8:EntityReferenceOfSubgemeentejQfcsukF" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Adres" nillable="true" type="tns:Adres" />
  <xs:complexType name="Straat">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q9="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" base="q9:EntityObject">
        <xs:sequence>
          <xs:element minOccurs="0" name="Adres" nillable="true" type="tns:ArrayOfAdres" />
          <xs:element minOccurs="0" name="Naam" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="PostNr" type="xs:int" />
          <xs:element minOccurs="0" name="StraatID" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Straat" nillable="true" type="tns:Straat" />
  <xs:complexType name="ArrayOfAdres">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Adres" nillable="true" type="tns:Adres" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAdres" nillable="true" type="tns:ArrayOfAdres" />
  <xs:complexType name="Subgemeente">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q10="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" base="q10:EntityObject">
        <xs:sequence>
          <xs:element minOccurs="0" name="Adres" nillable="true" type="tns:ArrayOfAdres" />
          <xs:element minOccurs="0" name="Naam" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="PostNr" type="xs:int" />
          <xs:element minOccurs="0" name="SubgemeenteID" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Subgemeente" nillable="true" type="tns:Subgemeente" />
</xs:schema>