poc/Nhibernate/WebApplication1/Service References/PersonenServiceReference/PersonenService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/CgDal" xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/CgDal" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:4227/PersonenService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:import schemaLocation="http://localhost:4227/PersonenService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/System.Data.Linq" />
  <xs:complexType name="Persoon">
    <xs:sequence>
      <xs:element minOccurs="0" name="AdNummer" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Naam" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="VoorNaam" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="GeboorteDatum" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="ChiroLeefTijd" type="xs:int" />
      <xs:element minOccurs="0" name="SterfDatum" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Guid" nillable="true" type="ser:guid" />
      <xs:element minOccurs="0" name="PersoonID" type="xs:int" />
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/System.Data.Linq" minOccurs="0" name="Versie" nillable="true" type="q1:Binary" />
      <xs:element minOccurs="0" name="PersoonsAdres" nillable="true" type="tns:ArrayOfPersoonsAdres">
        <xs:annotation>
          <xs:appinfo>
            <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="GelieerdePersoons" nillable="true" type="tns:ArrayOfGelieerdePersoon">
        <xs:annotation>
          <xs:appinfo>
            <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="CommunicatieVorms" nillable="true" type="tns:ArrayOfCommunicatieVorm">
        <xs:annotation>
          <xs:appinfo>
            <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Persoon" nillable="true" type="tns:Persoon" />
  <xs:complexType name="ArrayOfPersoonsAdres">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PersoonsAdres" nillable="true" type="tns:PersoonsAdres" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPersoonsAdres" nillable="true" type="tns:ArrayOfPersoonsAdres" />
  <xs:complexType name="PersoonsAdres">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BasisEntity">
        <xs:sequence>
          <xs:element minOccurs="0" name="IsStandaard" type="xs:boolean" />
          <xs:element minOccurs="0" name="Opmerking" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="PersoonID" type="xs:int" />
          <xs:element minOccurs="0" name="AdresID" type="xs:int" />
          <xs:element minOccurs="0" name="AdresTypeID" type="xs:int" />
          <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/System.Data.Linq" minOccurs="0" name="Versie" nillable="true" type="q2:Binary" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="PersoonsAdres" nillable="true" type="tns:PersoonsAdres" />
  <xs:complexType name="BasisEntity">
    <xs:sequence>
      <xs:element minOccurs="0" name="TeVerwijderen" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BasisEntity" nillable="true" type="tns:BasisEntity" />
  <xs:complexType name="ArrayOfGelieerdePersoon">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="GelieerdePersoon" nillable="true" type="tns:GelieerdePersoon" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfGelieerdePersoon" nillable="true" type="tns:ArrayOfGelieerdePersoon" />
  <xs:complexType name="GelieerdePersoon">
    <xs:sequence>
      <xs:element minOccurs="0" name="GroepID" type="xs:int" />
      <xs:element minOccurs="0" name="PersoonID" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GelieerdePersoon" nillable="true" type="tns:GelieerdePersoon" />
  <xs:complexType name="ArrayOfCommunicatieVorm">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CommunicatieVorm" nillable="true" type="tns:CommunicatieVorm" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCommunicatieVorm" nillable="true" type="tns:ArrayOfCommunicatieVorm" />
  <xs:complexType name="CommunicatieVorm">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BasisEntity">
        <xs:sequence>
          <xs:element minOccurs="0" name="Nota" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Nummer" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="CommunicatieVormID" type="xs:int" />
          <xs:element minOccurs="0" name="CommunicatieTypeID" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="PersoonID" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="IsGezinsgebonden" type="xs:boolean" />
          <xs:element minOccurs="0" name="Voorkeur" type="xs:boolean" />
          <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/System.Data.Linq" minOccurs="0" name="Versie" nillable="true" type="q3:Binary" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="CommunicatieVorm" nillable="true" type="tns:CommunicatieVorm" />
  <xs:complexType name="ArrayOfvPersoonsInfo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="vPersoonsInfo" nillable="true" type="tns:vPersoonsInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfvPersoonsInfo" nillable="true" type="tns:ArrayOfvPersoonsInfo" />
  <xs:complexType name="vPersoonsInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="GroepID" type="xs:int" />
      <xs:element minOccurs="0" name="PersoonID" type="xs:int" />
      <xs:element minOccurs="0" name="VoorNaam" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Naam" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Categorieen" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StraatNaam" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="HuisNr" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Bus" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PostNr" type="xs:int" />
      <xs:element minOccurs="0" name="SubGemeente" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="GeboorteDatum" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="EindeInstapPeriode" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="NonActief" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="TelefoonNummer" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EMail" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="vPersoonsInfo" nillable="true" type="tns:vPersoonsInfo" />
</xs:schema>